@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-black-90: #111111;
  --color-black-80: #222222;
  --color-text: #ffffff;
}

body {
  background-color: var(--color-black);
  color: var(--color-text);
}