@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@import "./header.css";
@import "./icon.css";
@import "ui.css";

@theme {
  --color-background: #ffffff;
  --color-foreground: #fafafa;
  --color-text: #111111;
  --color-border: #eeeeee;
}

@layer theme {
  .dark {
    --color-background: #000000;
    --color-foreground: #111111;
    --color-text: #ffffff;
    --color-border: #222222;
  }
}

body {
  @apply px-5 md:px-10 min-h-screen bg-background text-text;
}
